
@{
    ViewBag.Title = "HienThiThem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/css/HienThiThem.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/owlcarousel/assets/owl.theme.default.min.css">
    <script src="/Content/jquery.min.js"></script>
    <script src="/Content/owlcarousel/owl.carousel.min.js"></script>
    <title>ĐT-Coffee</title>
</head>
<body>
    <br><br>

    <div class="container text">
        <h3 class="Header">Giới Thiệu</h3>
        <br> <br>
        <p> <b>T-Coffee</b> xin gửi lời chào đến tất cả mọi người</p>
        <p>
            <b>T-Coffee</b> là thương hiệu cà phê độc quyền của công ty TNHH Phúc Gia với slogan<b>"TRUE COFFEE, TRUE TASTE."</b>
            Tất cả các hạt cà phê đều được chúng tôi lựa chọn rất kỹ bằng tay, được bảo quản chu đáo và được các chuyên
            gia rang theo công thức riêng nhằm đảm bảo chất lượng độc đáo và toàn vị. <br>
        </p>
        <p>Chúng tôi rất tự hào mang đến cho người tiêu dùng, đặc biệt là những tín đồ cà phê, những sản phẩm chất lượng cao nhưng giá cả rất hợp lý. <br></p>
        <p> <b>T-Coffee</b> đã có được 6 sản phẩm cà phê với 6 mùi, vị khác nhau để đáp ứng "GU" uống cà phê rất khác nhau của khách hàng: <br> <br> <br></p>
        <div class="container">
            <p> <b>1. Cà phê ARABICA:</b></p>
            <div class="container">
                <p><b>Mùi vị</b>: Cà phê <b>Arabica</b> có vị thanh, sang trọng và mùi hương thơm nhẹ.</p>
                <p><b>Caffeine:</b> Không quá 1%, hậu vị ngọt.</p>
                <p><b>Phong cách uống:</b> Phù hợp phong cách uống Châu Âu, Châu Mỹ. Thích hợp với kiểu uống cà phê nóng, cà phê đá hay cà phê sữa nóng, cà phê sữa đá.</p>
                <p><b>Thành phần:</b> 100% cà phê Arabica Cầu Đất – Đà Lạt, được rang, xay từ hạt loại 1 (sàng 18). Kích cỡ hạt: 7.1mm.</p>
                <p><b>Cách rang:</b> Rang mộc 100%.</p>
                <br>
            </div>
            <p> <b>2. Cà phê AUTHENTIC BLEND:</b></p>
            <div class="container">
                <p><b>Mùi vị</b>: Cà phê <b>AUTHENTIC BLEND</b> có vị đắng nhẹ và mùi hương rất riêng.</p>
                <p><b>Caffeine:</b> Không quá 1,5%. Hậu vị ngọt.</p>
                <p><b>Phong cách uống:</b> Phù hợp với gu cà phê nhẹ nhàng, tao nhã. Thích hợp với kiểu uống cà phê nóng, cà phê đá hay cà phê sữa nóng, cà phê sữa đá.</p>
                <p><b>Thành phần:</b> 30% cà phê Arabica Cầu Đất- Đà Lạt và 70% cà phê Robusta Buôn Mê Thuộc, được rang, xay từ hạt loại 1 (sàng 18). Kích cỡ hạt: 7.1mm.</p>
                <p><b>Cách rang:</b> Rang mộc 100%.</p>
                <br>
            </div>
            <p> <b>3. Cà phê HAZELNUT:</b></p>
            <div class="container">
                <p><b>Mùi vị</b>: Cà phê <b> HAZELNUT</b> có vị béo và mùi hương thơm mạnh.</p>
                <p><b>Caffeine:</b> Không quá 1.5%. Hậu vị ngọt.</p>
                <p><b>Phong cách uống:</b> Chỉ dành uống cà phê sữa nóng hoặc cà phê sữa đá.</p>
                <p><b>Thành phần:</b> Sự phối trộn tuyệt vời của hai loại hạt Robusta và Arabica Cầu Đất – Đà Lạt và hương Hazelnut, được rang, xay từ hạt loại 1 (sàng 18). Kích cỡ hạt: 7.1mm.</p>
                <p><b>Cách rang:</b> Rang mộc 100%.</p>
                <br>
            </div>
            <p> <b>4. Cà phê CULI:</b></p>
            <div class="container">
                <p><b>Mùi vị</b>: Cà phê <b>CULI</b> có vị đắng vừa và mùi hương thơm nhẹ.</p>
                <p><b>Caffeine:</b> Không quá 1.5%. Hậu vị ngọt.</p>
                <p><b>Phong cách uống:</b> Đúng gu người Việt. Phù hợp với những người thích gu vừa. Thích hợp với kiểu uống cà phê nóng, cà phê đá hay cà phê sữa nóng, cà phê sữa đá.</p>
                <p><b>Thành phần:</b> Sự phối trộn tuyệt vời của hai loại hạt Culi Robusta và Culi Arabica Cầu Đất – Đà Lạt, được rang, xay từ hạt loại 1 (sàng 18). Kích cỡ hạt: 7.1mm.</p>
                <p><b>Cách rang:</b> Rang mộc 100%.</p>
                <br>
            </div>
            <p> <b>5. Cà phê T-COFFEE SPECIAL:</b></p>
            <div class="container">
                <p><b>Mùi vị</b>: Cà phê <b>T-COFFEE SPECIAL</b> có vị đắng mạnh và mùi hương thơm nhẹ.</p>
                <p><b>Caffeine:</b> Không quá 2%. Hậu vị ngọt.</p>
                <p><b>Phong cách uống:</b> Đúng gu người Việt. Phù hợp với những người thích gu mạnh. Thích hợp với kiểu uống cà phê nóng, cà phê đá hay cà phê sữa nóng, cà phê sữa đá.</p>
                <p><b>Thành phần:</b> 100% cà phê Robusta, được rang, xay từ hạt loại 1 (sàng 18). Kích cỡ hạt: 7.1mm.</p>
                <p><b>Cách rang:</b> Rang mộc 100%.</p>
                <br>
            </div>
            <p> <b>6. Cà phê ROBUSTA:</b></p>
            <div class="container">
                <p><b>Mùi vị</b>: Cà phê <b>ROBUSTA</b> có vị đắng mạnh và mùi hương thơm nhẹ.</p>
                <p><b>Caffeine:</b> Không quá 2%. Hậu vị ngọt.</p>
                <p><b>Phong cách uống:</b> Đúng gu người Việt. Phù hợp với những người thích gu mạnh. Thích hợp với kiểu uống cà phê nóng, cà phê đá hay cà phê sữa nóng, cà phê sữa đá.</p>
                <p><b>Thành phần:</b> 100% cà phê Robusta, được rang, xay từ hạt loại 1 (sàng 18). Kích cỡ hạt: 7.1mm.</p>
                <p><b>Cách rang:</b> Có Bơ</p>
                <br>
            </div>
            <p><b>Thông Tin Liên Hệ</b></p>
            <p>Công Ty TNHH ĐT.Coffee 236 Hoàng Quốc Việt - Từ Liêm - Hà Nội __ Hotline: +84 963 966 405 __ Websize: ĐT-Coffee.vn</p>
        </div>
        <br> <br>
    </div>

</body>
</html>



