
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>DT-Coffee_SignUp</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Desk Signup form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->

    <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">

    <!--/Style-CSS -->
    <link rel="stylesheet" href="/Content/SignUp/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
</head>

<body>
    <section class="w3l-forms-main-61">
        <div class="form-inner">
            <div class="wrapper">
                <div class="form-bg-blur">
                    <div class="form-61 form-register">
                        <h4 class="form-head">Signup</h4>

                        <form action="" method="GET">
                            <div class="">
                                <p class="text-head">Full Name</p>
                                <input type="text" name="HoTenKH" class="input" required />
                            </div>
                            <div class="">
                                <p class="text-head">
                                    SĐT
                                    <input type="text" name="SDT" class="input" required />
                            </div>
                            <div class="">
                                <p class="text-head">Email</p>
                                <input type="email" name="Email" class="input" required />
                            </div>
                            <div class="">
                                <p class="text-head">Tên Đăng Nhập</p>
                                <input type="text" name="TenDangNhap" class="input" required />
                            </div>
                            <div class="">
                                <p class="text-head">Password</p>
                                <input type="password" name="MatKhau" class="input" required />
                            </div>
                            <button type="submit" class="signinbutton btn">Signup</button>
                        </form>
                    </div>
                </div>
                <!-- <div class="go-to-home text-center">
                    <p>Already have an account? <a class="btn" href="login.html"> Signin </a></p>
                </div> -->
            </div>
        </div>
    </section>
</body>

</html>



