
    <li class="nav-item">
        <ul>
            <li>
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li>
                <h1 class="pictrue-money">@ViewBag.TongTien VNĐ</h1>
            </li>
        </ul>

    </li>
